
*{
    max-width: 1440px;
    margin: 0 auto;
}
.services{
    display: flex;
}
.hero__kort {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
  }
  .facilities{
    display: flex;
  }
